@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

html {
  min-height: 100%;
}

body {
  background-color: #383838;
  padding-bottom: 200px;
  background-image: url(./Images/background.jpg);
  background-repeat: no-repeat;
  background-position: center -120px;
}

* {
  font-family: "Rubik", sans-serif !important;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}

.frame {
  width: 80%;
  max-width: 900px;
  min-height: 300px;
  background-color: #ffffff00;
  margin: auto;
  padding: 8px 16px;
  border-radius: 6px;
  text-align: center;
}
.container-data {
  display: flex;
  justify-content: space-evenly;
}

.board {
  display: inline-grid;
  border-radius: 3px;
  border: greenyellow 4px solid;
  overflow: hidden;
  /* background-color: #464646; */
}

.board div {
  width: 12px;
  height: 12px;
}
.snake {
  background-color: green;
  border-radius: 10px;
  width: 12px;
  height: 12px;
}

.head {
  background-color: yellow;
  border-radius: 10px;
  width: 15px;
  height: 15px;
}

.snake {
  animation: snakeScale 0.2s infinite alternate;
}

@keyframes snakeScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.head:before,
.head:after {
  content: "";
  position: absolute;
  background-color: black;
}

.head:before {
  top: 4px;
  left: 4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.head:after {
  top: 4px;
  right: 4px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.snake:after {
  content: "";
  position: absolute;
  background-color: #111;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.snake:nth-child(2n):after {
  top: 3px;
  left: 2px;
}

.snake:nth-child(2n + 1):after {
  bottom: 3px;
  right: 2px;
}

.blueberry::after {
  content: "🫐";
  position: relative;
  top: -5px;
  left: -3px;
  font-size: 13px;
}
.cherry::after {
  content: "🍒";
  position: relative;
  top: -5px;
  left: -3px;
  font-size: 13px;
}
